

        
.App
    text-align: center
    margin-top: 170px
    margin-left: 380px
    padding: 30px 
    width: 516px
    height: 252px
    
    background-color: #e74c3c
    color: white

    .close-btn
        border-style: none
        margin-top: -90px
        font-size: 30px
        color: white
        background-color:#e74c3c
        margin-left: 420px    
.btn

   
    display:inline-block
    border:none
    border-radius: 4px

    border-style: none
    padding: 10px 
    cursor:pointer
    white-space:nowrap
    overflow:hidden
    height: 50px
    text-overflow: ellipsis
    max-width: 200px
    text-align:center
    min-width:  50px
    margin: 0 8px
    color: white
