.App{
  background-image:url("./imgs/background@1X.png" );
text-align: center;

/* align-content: center;
justify-content: center; */
}
.header{
  justify-content: center;
  height: 33px;
  background-color: #2A2B2C;
  color: white;
  display: flex;
}
.logos{
  margin-left: 200px;
  
  margin-top: 3px;

  /* margin-top: 3px;
  padding-bottom: 3px; */
    list-style: none;
    display: flex;
    cursor: pointer;
    margin-right: 600px;
}
li.logos-li {
  margin-right: 5px;
}

.cart{
  border-style:none ;
    box-shadow: 1px 3px 10px 2px rgba(0,0,0,0.4);
    background-color: #cc3333;
    width: 100px;
    height: 50px;
    color: white;
    text-align: center;
}
.section1{
  justify-content: center;
  display: flex;
}
.store {
 margin-left: 300px;
  list-style: none;
display: flex;
}
.store-txt{
  margin-top: 12px;
  font-size: 30px;
  font-weight: lighter;
}
.list{
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  padding-top: 20px;
   padding-left: 10px;
}
.login-txt{
 margin-top: 2px;
  margin-right: 20px;
}

.main-logo-div{
  margin-top: 9px;
  display: flex;
  margin-left: 240px;
}
.disc-photo{
  position: relative;
  width: 60px;
  
  height: 61px;
text-align: center;
}
.m-letter{
  position: absolute;
  color: white ;
justify-content: center;
font-size: 35px;
margin: auto;
padding-left: 13px;
padding-top: 3px;
}
.section2{
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: #1e1e20;
  margin-bottom: 45px;
}
.border-imgs{

  position: relative;
  border: 10px solid #1e1e20;
  padding: 10px 0px;
}
.arrows{
  width: 80px;
  height: 80px;
  border-radius:50% ;
  background-color:rgba(0,0,0,0.4) ;
  color: white;

  position: absolute;

}
.left{
  margin-top: 200px;
  margin-left: -590px;
  

}
.right{
  margin-top: 200px;
  margin-left: 590px;
}
.img-txt{
  width: 913px;
 position: absolute; 
 background-color: #cc3333;
opacity: 0.7 ;
 color: #eaeaea;
padding-top: 3px;
 margin-top: 397px;
 font-size: 20px;
 padding-left: 20px;
 text-align: justify;
 height: 42px;
}
h1{
  font-size: 36px;
  font-weight: normal;
}
.musica-span{
  background-color:#cd3737 ;
  color: white;
  border-radius: 2%;
}
hr{
  width: 900px;
  color: lightgrey;
  /* font-weight:lighter; */
  border-style: dotted;
}
.table{
  cursor: pointer;
  display: flex;
  width: 100%;
  justify-content: center;
/* padding-left: 370px; */

}
.table>tr{
 margin-right: 30px;
  border-radius: 2%;
  color: #ffffff  ;
background-color: #1e1e20;
  width: 300px;
  
  
}
.table>tr:nth-child(2){
  background-color:#cc3333;
}
.table>tr>td>h4{
  font-size: 18px;
}
.table>tr>td>p{
  font-size: 13px;
}
h2{
  font-size: 24px;
  font-weight: 500;
}

.arrivals_hrs>hr{
  width: 590px; 
  }
  .arrivals_hrs{
    margin-top: 20px;
  }
.arrow-btns{
 margin-top: 30px;
  width: 20px;
  height: 20px;
  background-color: #cc3333;
  border-style: none ;
  margin-right: 2px;
  border-radius: 3px;
}
.publishers_hrs>hr{
width: 570px;
}
.publishers{
  list-style: none;
  justify-content: center;

  display: flex;
}
.publishers>li{
  
border-left:3px solid #9b9a9a;
  width: 161px;
  height: 133px;
  background-image: url('./imgs/back@1X.png');
  justify-content: center;
}
  .watermelon{
    color: #605d5d;
    font-size: 16px;
  }
  .watermelon>span{
    color: #9b9a9a;
  }
  /* box-shadow: 5px 10px red; */
.publishers :nth-child(3){
  color: #313131;
  font-size: 15px;
  font-weight: 600;
}
footer{
  background-image: url('./imgs/backgroundOverlayer@1X.png');
  font-size: 13px;
  /* background-color: #242424; */
  background-color: #1b1b1b;
  color: white;

}
.last-hrs{
font-weight: lighter;
  width: 190px;
}
.last-txt{

  width: 212px;
}
.search-input{
  width: 214px;
  height: 36px;
  background: fixed;
  border: 0.1px solid #a3a3a3;
  color: #a3a3a3;
padding-left: 15px;
}
 
.tags>div{
  display:flex;

  }
  .tags>div>div{
    background-color:#2a2a2a;
padding: 5px;
    margin: 3px;
    /* padding-right: 100px; */
  }
  .last-footer-div{
  display: flex;
color: #5c5c5c;
justify-content: center;

  }
  .last-footer-div>a{
    text-decoration: none;
    margin-right: 10px;
    color: #5c5c5c;
    

  }